* {
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
}

label {
  background-color: yellow;
  display: block;
  padding: 2em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr auto;
}

@supports ( (-webkit-appearance: none) or  (-moz-appearance: none) ) {
  .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 3.5em;
    height: 1.6em;
    border-radius: 2em;
    background-color: darkgreen;
    outline: none;
    transition: background-color .2s linear
  }
  .switch::after {
    content: "";
    background-color: #fff;
    display: block;
    position: relative;
    top: .15em;
    left: .15em;
    width: 1.15em;
    height: 1.15em;
    border: .1em solid gray;
    border-radius: 2em;
    transition: left .1s ease-in-out;
  }
  .switch:checked {
    background-color: red;
  }
  .switch:checked::after {
    left: 2em;
  }
  .groot {
    font-size: 50px;
  }
}
